.box {
  border: 1px solid black;
  height: 150px;
}

/*click toggle classes */

.user_click_p1 {
  background-image: url('../img/X.png');
  background-size: 50%;
  background-repeat:no-repeat;
  background-position: center;
}

.user_click_p2 {
  background-image: url('../img/O.png');
  background-size: 95%;
  background-repeat:no-repeat;
  background-position: center;
}
